<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094416488498-bhglmfle7j86gtqvlk4iro67djt70iro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094416488498-bhglmfle7j86gtqvlk4iro67djt70iro</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1094416488498-3o1clffu4lq3ibll41t8ui2b982bcg8g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9AckOiT9nLAy3epTN5AEQWDzkZmIZFw8</string>
	<key>GCM_SENDER_ID</key>
	<string>1094416488498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fearless</string>
	<key>PROJECT_ID</key>
	<string>fearless-1c4dc</string>
	<key>STORAGE_BUCKET</key>
	<string>fearless-1c4dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094416488498:ios:adf9dc1eb5ad1a9e67442b</string>
</dict>
</plist>